$grey-a:#A1A1A1;
$blue:#4985FF;
$black-3:#323232;
$grey-9:#999999;
$grey-e:#E0E0E0;
$blue-4:#4985FF;
$white-f:#F6F6F8;
@font-face {
  font-family: Montserrat-Regular;
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face{
  font-family: Montserrat-bold;
  src: url(/fonts/Montserrat/Montserrat-Bold.ttf);
}
.button{
  font-family: Montserrat-Regular;
  text-align: center;
  cursor: pointer;
  background: $blue;
  width: 200px;
  border-radius: 30px;
  padding: 14px 36px;
  font-size: 16px;
  border: 2px $blue solid;
  color: white;
  transition: .3s ease-in-out;
  box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
  &:hover{
    color: $blue;
    background: white;
  }
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.section-1{
  position: absolute;
  width: 100%;
}
.nav{
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 405px;
    &__menu{
      display: flex;
      justify-content: flex-end;
      &-link{
        padding: 40px 20px;
        color: white;
        line-height: 20px;
        border-bottom: transparent 2px solid;
        &:hover{
          border-color: $grey-a;
          transition: .3s ease-in-out;
        }
        &-active{
          border-color: $grey-a;
        }
      }
    }
    &__line{
      max-width: 1920px;
      margin: 0 auto;
      opacity: 0.5;
      border: 1px solid $grey-a;
    }
    &__toggle{
      display: none;
      width: 30px;
      position: relative;
      right: 4px;
      z-index: 1;
      cursor: pointer;
      background:none;
      border: 0;
      .bar1, .bar2, .bar3 {
        width: 35px;
        height: 2.5px;
        background-color: rgb(68, 67, 67);
        margin-bottom: 5px;
        transition: 0.4s linear;
      }
    }
    .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
      transform: rotate(-45deg) translate(-8px, 8px) ;
    }
    .change .bar2 {
      opacity: 0;
    }
    
    .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
      transform: rotate(45deg) translate(-3px, -4px) ;
    }
    
    
}


main{
  margin: 0 auto;
  max-width: 1920px;
}
.section-2 {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 1080px;
  background-image: url(../image/intro_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.intro {
  height: 100vh;
  max-height: 1080px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  &__title{
    margin-bottom: 20px;
  }
  &__text{
    width: 800px;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 50px;
    text-align: center;
  }
}


.section-3 {
  width: 100%;
}
.services{
  padding: 70px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &__top{
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title{
      width: 800px;
      font-family: Montserrat-bold;
      font-size: 36px;
      line-height: 53px;
      margin-bottom: 50px;
      color: $black-3;
    }
    &-text{
      width: 730px;
      color:$grey-9;
      line-height: 25px;
    }
  }
  &__center{
    display: flex;
    margin-bottom: 55px;
    &-block {
      display: flex;
      &-image{
        position: relative;
        width: 110px;
        height: 110px;
        margin-right: 17px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../image/services__img.png);
        border: 1px solid $grey-e;
        border-radius: 50%;
        &::before{
          content: "";
          position: absolute;
          border: 1px solid #4985FF;
          border-radius: 50%;
          z-index: 2;
          left: 10px;
          top: 9px;
          width: 90px;
          height: 90px;
          
        }
      }
      &-item{
        width: 220px;
        text-align: start;
        &-title{
          font-size: 18px;
          line-height: 22px;
          margin-bottom: 12px;
          margin-top: 50px;
        }
        &-text{
          color: $grey-9;
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }
}
.section-4{
  background: #F6F6F8;
  width: 100%;
}
.about{
  padding: 70px 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__top{
    display: flex;
    align-items: center;
    margin-bottom: 90px;
    &-left{
      width: 490px;
      margin-right: 120px;
      &-title{
        font-size: 36px;
        line-height: 53px;
        font-family: Montserrat-bold;
        margin-bottom: 40px;
      }
      &-text{
        line-height: 25px;
        color: $grey-9;
        margin-bottom: 30px;
      }
      &-link{
        color: $blue-4;
        text-decoration: underline;
      }
    }
    &-right-image{
        box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        width: 500px;
        height: 400px;
    }
  }
  &__line{
    border: 1px solid $grey-e;
    width: 100%;
    margin-bottom: 70px;
  
  
  }
  &__bottom{
    display: flex;
    &-block{
      width: 105px;
      &:not(:last-child){
        margin-right: 100px;
      }
      &-title{
        font-size: 36px;
        line-height: 53px;
        &::before{
          content: "";
          width: 30px;
          height: 30px;
          display: inline-block;
          margin-right: 20px;
          background-image: url(../image/about__terminal.png);
        }
      }
      &-text{
        color: $grey-9;
      }
    }
  }
}

.section-5{
  width: 100%;
  padding: 100px 0 70px;
  background: linear-gradient(to bottom, #504dc2 60%, #ffffff 40%);
}
.work{
  padding: 0 50px;
  width: 100%;
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    &-title{
      font-family: Montserrat-bold;
      font-size: 36px;
      line-height: 53px;
      color: white;
    }
  }
  &__center{
    display: flex;
    justify-content: space-between;
    &-block{
      width: 350px;
      &:not(:last-child){
        margin-right: 30px;
      }
      &-image{
        width: 350px;
        height: 300px;
        margin-bottom: 30px;
      }
      &-title{
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 30px;
        &--accent {
          font-family: Montserrat-bold;
          color: $blue-4;
        }
      }
      &-text{
        line-height: 25px;
        color: $grey-9;
        margin-bottom: 30px;
      }
      &-link{
        color: $blue-4;
        text-decoration: underline;
      }
    }
  }
}

.section-6 {
  padding: 100px 130px;
  width: 100%;
  background: $white-f;
}
.project{
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title{
    font-size: 36px;
    line-height: 53px;
    font-family: Montserrat-bold;
    margin-bottom: 50px;
  }
  &__text{
    width: 730px;
    line-height: 25px;
    margin-bottom: 70px;
    color: $grey-9;
    text-align: center;
  }
  &__row{
    margin-bottom: 50px;
    &-image{
    width: 255px;
    height: 255px;
      &:not(:last-child){
        margin-right: 30px;
      }
    }
  }
}

.section-7{
  width: 100%;
  padding: 70px 0 85px;
  background-image: url(../image/subscribe.png);
  background-repeat: no-repeat;
}
.subscribe{
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title{
    font-size: 36px;
    line-height: 53px;
    color: white;
    margin-bottom: 30px;
    font-family: Montserrat-bold;
  }
  &__text{
    line-height: 25px;
    color: white;
    margin-bottom: 70px;
  }
  &__image{
  margin-bottom:170px;
  width: 970px;
  height: 430px;
  }
  &__button{
    cursor: pointer;
    font-family: Montserrat-Regular;
    color: white;
    position: relative;
    bottom: 440px;
    background: transparent;
    width: 300px;
    padding: 40px 30px 40px 101px;
    font-size: 17px;
    line-height: 25px;
    border: white solid 1px;
    border-radius: 200px;
    &::before{
      content: "";
      position: absolute;
      border-left: 20px solid $blue-4;
      border-top: 13px solid transparent;
      border-bottom: 13px solid transparent;
      left: 58px;
      z-index: 2;
      width: 18px;
      height: 18px;
      border-radius: 3px;
    }
    &::after{
      content: "";
      position: absolute;
      border: 30px solid white;
      z-index: 1;
      left: 35px;
      top: 23px;
      border-radius: 50%;
    }
  }
  &__bottom{
    text-align: center;
    &-title{
      font-size: 18px;
      font-family: Montserrat-bold;
      margin-bottom: 20px;
    }
    &-text{
      color: $grey-9;
      margin-bottom: 30px;
    }
    &-form{
      margin-bottom: 35px;
      &-email{
        width: 300px;
        border: 1px #F2F2F2 solid;
        padding: 15px 33px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        font-size: 16px;
      }
      &-submit{
        color: white;
        padding: 15px 0;
        font-size: 16px;
        background: $blue-4;
        width: 190px;
        border: 1px $blue-4 solid;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        cursor: pointer;
      }
    }
  }
}
.footer{
  width: 100%;
  padding: 70px 0 0 50px;
  max-width: 1920px;
  margin: 0 auto;
  background:#F6F6F8;
  &__row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    &-block{
      width: 255px;
      &:not(:last-child){
        margin-right: 30px;
      }
      &-title{
        font-size: 18px;
        font-family: Montserrat-bold;
        margin-bottom: 35px;
      }
      &-address{
        display: flex;
        flex-direction: column;
        &-text{
          position: relative;
          color: $grey-9;
          margin-left: 30px;
          &:not(:last-child){
            margin-bottom: 30px;
          }
        }
        &-email::before, &-phone::before, &-place::before{
          content: "";
          position: absolute;
          width: 15px;
          height: 15px;
          top: 3px;
          left: -28px;
          z-index: 1;
        }
        &-email::before{
          background-image: url(../image/envelope.svg);
        }
        &-phone::before{
          background-image: url(../image/call.svg);
        }
        &-place::before{
          background-image: url(../image/place.svg);
        }
      }
      &-nav{
        display: flex;
        flex-direction: column;
        &-link{
          position: relative;
          color: $grey-9;
          margin-left: 20px;
          &:not(:last-child){
            margin-bottom: 30px;
          }
          &::before{
            background-image: url(../image/arrow.png);
            background-repeat: no-repeat;
            width: 10px;
            height: 10px;
            content: "";
            position: absolute;
            z-index: 1;
            top: 4px;
            left: -15px;
          }
        }
      }
    }
  }
  &__line{
    border: 1px solid #E0E0E0;
  }
  &__copyright {
    padding: 30px 0;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: $grey-9;
    font-family: Montserrat-Regular;
  }
}
@media(max-width:1440px){
  .nav{
    padding: 0 105px;
  }
  .section-6{
    padding: 100px 50px;
  }
  .project__row-image{
    width: 240px;
    height: 240px;
  }
}
@media(max-width:1200px){
  .intro__title{
    margin-top: 50px;
  }
  .intro__text{
    width: 700px;
  }
  .services__top-title{
    width: 600px;
  }
  .services__center-block{
    &-image{
      width: 90px;
      height: 90px;
      top: 15px;
      &::before{
        width: 70px;
        height: 70px;
        left: 9px;
      }
    }
    &-item{
      width: 200px;
    }
  }
  .about{
    &__top{
      &-left{
        width: 400px;
        margin-right: 60px;
        &-title{
          font-size: 28px;
          line-height: 40px;
          margin-bottom: 20px;
        }
      }
      &-right-image{
        width: 400px;
        height: 300px;
      }
    }
    &__bottom-block:not(:last-child){
      margin-right: 75px;
    }
  }
  .section-5{
    background: linear-gradient(to bottom, #504dc2 50%, #ffffff 50%);
  }
  .work{
    &__top{
      margin-bottom: 120px;
      &-title{
        font-size: 30px;
        line-height: 40px;
      }
    }
    &__center-block{
      width: 280px;
      &-image{
        width: 280px;
        height: 230px;
      }
    }
  }
  .project__row-image{
    width: 200px;
    height: 200px;
    &:not(:last-child){
      margin-right: 15px;
    }

  }
  .subscribe__image{
    width: 870px;
    height: 380px;
    margin-top: 50px;
  }
  .subscribe__button{
    bottom: 400px;
  }
}
@media(max-width:992px){
  .nav{
    padding: 0 40px;
    &__menu-link{
      padding: 20px;
    }
  }
  .intro{
    &__text{
      font-size: 40px;
      line-height: 55px;
    }
  }
  .services{
    &__top{
      &-title{
        width: 550px;
        font-size: 26px;
        line-height: 30px;
      }
      &-text{
        width: 530px;
      }
    }
    &__center-block{
      &-image{
        width: 75px;
        height: 75px;
        margin-right: 10px;
        &::before{
          width: 60px;
          height: 60px;
          left: 7px;
          top: 7px;
        }
      }
      &-item{
        width: 160px;
        &-title{
          font-size: 16px;
        }
        &-text{
          font-size: 13px;
        }
      }
    }
  }
  .about{
    &__top{
      flex-direction: column;
      &-left{
        order: 2;
        margin-top: 80px;
        margin-right: 0;
        text-align: center;
        &-text{
          text-align: justify;
        }
      }
    }
    &__bottom-block:not(:last-child){
      margin-right: 40px;
    }
  }
  .section-5{
    background: linear-gradient(to bottom, #504dc2 14%, #ffffff 14%);
  }
  .work__top{
    margin-bottom: 150px;
  }
  .work__center{
    flex-direction: column;
    align-items: center;
    &-block{
      text-align: center;
      &:not(:last-child){
        margin-right: 0;
        margin-bottom: 40px;
      }
      &-text{
        text-align: justify;
      }
    }
  }
  .section-6{
    padding: 50px;
  }
  .project{
    &__title{
      font-size: 28px;
    }
    &__text{
      width: 530px;
    }
    &__row{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 20px;
      &-image{
          &:not(:last-child){
            margin-right: 0;
          }
        }
    }
  }

  .subscribe{
    &__title{
      font-size: 28px;
      line-height: 40px;
      margin-bottom: 20px;
    }
    &__text{
      margin-bottom: 0px;
    }
    &__image{
      margin-top: 40px;
      margin-bottom:100px;
      width: 570px;
      height: 330px;
    }
    &__button{
      bottom: 310px;
      width: 200px;
      border-radius: 100px;
      padding: 10px 20px 10px 80px;
      &::before{
        left: 38px;
        top: 19px;
      }
      &::after{
        border-width: 20px;
        width: 10px;
        height: 10px;
        left: 25px;
        top: 13px;
      }
    }

  }
}
@media(max-width:768px){
  .button{
    width: 180px;
    padding: 14px 0;
  }
  .section-1{
    position: fixed;
  }
  .nav{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 100;
    padding: 8px 0;
    transform: translate3d(0, 0, 0);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    &__bg{
      background-color: $grey-9;
    }
    &__menu{
      display: none;
      &-toggle{
          padding: 20px 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          position: absolute;
          top: 100%;
          left: 0px;
          background-color: $grey-a;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
      }
      &-link{
        padding: 10px;
      }
    }
    &__toggle{
      display: inline-block;
    }

  }
  .intro{
    &__text{
      width: 400px;
      font-size: 25px;
      line-height: 36px;
      margin-bottom: 25px;
    }
  }
  .services{
    &__top{
      &-title{
        width: 450px;
        font-size: 22px;
      }
      &-text{
        width: 450px;
      }
    }
    &__center{
      flex-direction: column;
      &-block{
        &-image{
          margin-right: 25px;
          top: 30px;
          width: 110px;
          height: 110px;
          &::before{
            width: 90px;
            height: 90px;
            left: 10px;
            top: 9px;
          }
        }
        &-item{
          width: 220px;
          &-title{
            font-size: 18px;
          }
        }
      }
    }
  }
  .about{
    padding: 70px 20px;
  }
  .about__bottom-block{
    width: 85px;
      &:not(:last-child){
        margin-right: 20px;
      }
      &-title{
        font-size: 25px;
        line-height: 40px;
        &::before{
          width: 30px;
          height: 30px;
          margin-right: 15px;
        }
      }
      &-text{
        font-size: 13px;
      }
  }
  .section-5{
    padding: 50px 0 70px;
    background: linear-gradient(to bottom, #504dc2 8%, #ffffff 8%);
  }
  .work{
    padding: 0 20px;
    &__top{
      margin-bottom: 100px;
      &-title{
        font-size: 20px;
        line-height: 30px;
      }
    }
    &__center-block{
        &-image{
          margin-bottom: 15px;
        }
        &-title{
          margin-bottom: 15px;
        }
        &-text{
          margin-bottom: 15px;
        }
    }
  }
  .footer{
    padding: 50px 0;
    &__row{
      flex-direction: column;
      align-items: center;
      &-block{
        &:not(:last-child){
          margin-bottom: 50px;
          margin-right: 0;
        }
      }
    }
  }
}
@media(max-width:568px){
  .intro{
    &__title{
      margin: 0 0 20px;
    }
    &__text{
      width: 280px;
      font-size: 21px;
    }
  }
  .services{
    padding: 70px 10px;
    &__top{
      margin-bottom: 30px;
      &-title{
        width: 280px;
        font-size: 20px;
        margin-bottom: 30px;
      }
      &-text{
        width: 250px;
        text-align: justify;
      }
    }
    &__center-block{
      &-item{
        width: 200px;
      }
      &-image{
        margin-right: 15px;
        top: 30px;
        width: 90px;
        height: 90px;
        &::before{
          width: 75px;
          height: 75px;
          left: 7px;
          top: 6px;
        }
      }
    }
  }
  .about{
    &__top{
      &-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 280px;
        margin-top: 50px;
        &-title{
          font-size: 20px;
          line-height: 30px;
        }
        &-text{
          width: 250px;
        }
      }
      &-right-image{
        width: 280px;
        height: 250px;
      }
    }
    &__bottom{
      &-block{
        &:first-child, &:last-child{
          display: none;
        }
        &:not(:last-child){
          margin-right: 0;
        }
        &:not(:nth-child(4)){
          margin-right: 15px;
        }
      }
    }
  }
  .section-5{
    background: linear-gradient(to bottom, #504dc2 13%, #ffffff 13%);
  }
  .work{
    &__top{
      flex-direction: column;
      &-title{
        font-size: 18px;
        margin-bottom: 30px;
      }
    }
  }
  .project{
    &__title{
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 30px;
    }
    &__text{
      width: 250px;
      text-align: justify;
      margin-bottom: 40px;
    }
    &__row{
      grid-template-columns: 1fr;
    }
  }
  .section-7{
    padding: 120px 0 85px;
  }
  .subscribe{
    padding: 0 20px;
    &__title{
      font-size: 20px;
    }
    &__text{
      text-align: center;
    }
    &__image{
      width: 280px;
      height: 180px;
    }
    &__button{
      bottom: 225px;
    }
    &__bottom-form{
      &-email{
        width: 180px;
      }
      &-submit{
        width: 110px;
      }
    }
  }
}